In [1]:
#FOR TESTING WITH DIFFERENT INPUTS
user_place = "Berlin"
user_date = "2020-04-21"

In [2]:
import pandas as pd
import numpy as np
import sqlite3
import json
import urllib
from math import radians, cos, sin, asin, sqrt

In [3]:
def getCoordFromUserPlace(place_string):
    root_address ='https://maps.google.com/maps/api/geocode/json?address='
    middle = urllib.parse.quote(place_string)
    address_end = "&key=AIzaSyC8E-Vurt1yMcTGGCUR94-JfO5g7ZJegt0"
    full_address = root_address + middle + address_end
    with urllib.request.urlopen(full_address) as response:
       json_response = response.read()
    information = json.loads(json_response)
    #print(information)
    location =information['results'][0]["geometry"]['location']
    lat = location ['lat']
    lng = location ['lng']
    return (lat,lng)

In [4]:
def distance_coord(lon1, lat1, lon2, lat2):
    """
    Calculate the great circle distance between two points
    on the earth in km
    """
    # convert decimal degrees to radians
    lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])

    # haversine formula
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * asin(sqrt(a))
    r = 6371 # Radius of earth in kilometers. Use 3956 for miles
    return c * r

In [5]:
conn_db = sqlite3.connect("weather.sqlite")

In [6]:
cursor = conn_db.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

[('Wettermessung',), ('Wetterstation',)]

In [7]:
def getWeather(s_id,date):
    query = f"""
    SELECT Stations_ID , Datum, Mittel_2m AS Temperature , Relative_Feuchte AS Humidity , Mittel_Windstaerke, Sonnenscheindauer, Niederschlagshoehe
    FROM Wettermessung
    WHERE Stations_ID == '{s_id}' AND Datum ==  '{date}'
    """
    #return(query)
    return(pd.read_sql_query(query,conn_db))

In [8]:
def getStationName(s_id):
    query = f"""
SELECT S_ID , Standort
FROM Wetterstation
WHERE S_ID == '{s_id}'
    """
    #return(query)
    return(pd.read_sql_query(query,conn_db))

In [9]:
def showWetterstation():
    query = f"""
    SELECT * FROM Wetterstation;
    """
    #return(query)
    return(pd.read_sql_query(query,conn_db))

In [10]:
def showWettermessung():
    query = f"""
    SELECT * FROM Wettermessung;
    """
    #return(query)
    return(pd.read_sql_query(query,conn_db))

In [11]:
showWetterstation()

     S_ID               Standort Geo_Breite Geo_Laenge Hoehe Betreiber
0     102  Leuchtturm Alte Weser     53.863      8.127    32       DWD
1     164             Angermünde     53.032     13.991    54       DWD
2     183                 Arkona     54.679     13.434    42       DWD
3     232               Augsburg     48.425     10.942   462       DWD
4     282                Bamberg     49.874     10.921   240       DWD
..    ...                    ...        ...        ...   ...       ...
71   5856            Fürstenzell     48.545     13.353   476       DWD
72   5871                   Hahn     49.946      7.264   497       DWD
73   5906               Mannheim     49.506      8.559    98       DWD
74   7341   Offenbach-Wetterpark      50.09      8.786   119       DWD
75  15000         Aachen-Orsbach     50.798      6.024   231       DWD

[76 rows x 6 columns]

In [12]:
showWettermessung()

,Stations_ID,Datum,Qualitaet,Min_5cm,Min_2m,Mittel_2m,Max_2m,Relative_Feuchte,Mittel_Windstaerke,Max_Windgeschwindigkeit,Sonnenscheindauer,Mittel_Bedeckungsgrad,Niederschlagshoehe,Mittel_Luftdruck
0,102,2019-09-24,3,,13.5,16.4,19.3,84.33,5.3,10.8,5.817,,,1006.24
1,102,2019-09-25,3,,13.3,14.4,15.4,95.04,3.6,6.2,0.0,,,1001.53
2,102,2019-09-26,3,,,15.5,,96.25,8.3,,0.133,,,1002.38
3,102,2019-09-27,3,,14.3,15.5,17.3,87.0,9.0,17.5,4.9,,,1001.39
4,102,2019-09-28,3,,13.6,15.1,17.0,84.42,13.5,22.3,4.017,,,1000.73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40594,15000,2021-03-22,1,1.8,2.3,4.4,6.6,78.67,2.8,6.6,0.283,7.7,0.0,996.87
40595,15000,2021-03-23,1,-1.1,2.0,6.3,10.7,72.96,3.1,8.5,5.383,4.5,0.0,997.43
40596,15000,2021-03-24,1,1.1,3.6,9.2,15.5,64.25,3.8,9.0,10.783,3.6,0.0,994.46
40597,15000,2021-03-25,1,-0.1,3.2,8.2,11.7,77.38,3.9,8.4,2.967,6.7,0.0,992.61
40598,15000,2021-03-26,1,4.3,4.7,10.0,14.5,65.96,6.4,18.3,8.317,3.2,2.7,988.69

In [13]:
getWeather("102","2020-03-25")

,Stations_ID,Datum,Temperature,Humidity,Mittel_Windstaerke,Sonnenscheindauer,Niederschlagshoehe
0,102,2020-03-25,6.2,49.52,7.5,11.967,

In [14]:
weather1 = getWeather("102","2020-03-25")

In [15]:
print(weather1)

  Stations_ID       Datum Temperature Humidity Mittel_Windstaerke  \
0         102  2020-03-25         6.2    49.52                7.5

  Sonnenscheindauer Niederschlagshoehe
0            11.967

In [16]:
weather1

,Stations_ID,Datum,Temperature,Humidity,Mittel_Windstaerke,Sonnenscheindauer,Niederschlagshoehe
0,102,2020-03-25,6.2,49.52,7.5,11.967,

In [17]:
tempo = float(weather1.iloc[0]['Temperature'])

In [18]:
print(type(tempo))

<class 'float'>

In [19]:
def getClosebySid (lat , lng):
    query = f"""
    SELECT S_ID , Standort AS Location ,CAST(Geo_Breite AS float) AS Lat , CAST(Geo_Laenge AS float) AS Lng
    FROM Wetterstation
    WHERE Lat BETWEEN {lat-1} AND {lat+1}
    AND Lng BETWEEN  {lng-1} AND {lng+1}
    """
    station_list = pd.read_sql_query(query,conn_db)
    station_list = station_list.set_index("S_ID")
    return(station_list)

In [20]:
station_list = getClosebySid(52.51624733113992, 13.327776157869378)
print(station_list)

                Location     Lat     Lng
S_ID
164           Angermünde  53.032  13.991
403   Berlin-Dahlem (FU)  52.454  13.302
430         Berlin-Tegel  52.564  13.309
433     Berlin-Tempelhof  52.468  13.402
880              Cottbus  51.776  14.317
3015          Lindenberg  52.209  14.118
3552           Neuruppin  52.904  12.807
3987             Potsdam  52.381  13.062

In [21]:
lat_current, lng_current = 48.13984986510452, 11.534854815768064

In [22]:
lat_dahlem, lng_dahlem = (52.454,13.302)

In [23]:
distance_coord(lng_current,lat_current,lng_dahlem,lat_dahlem)

495.82156040101944

In [24]:
def getClosestEntry(station_list,lat,lng):
    station_list[["Distance"]] = pd.NA
    for S_ID in station_list.index:
        station_list.loc[S_ID,"Distance"] = distance_coord(station_list.loc[S_ID,"Lat"],station_list.loc[S_ID,"Lng"],lat,lng)
    return(station_list.sort_values(by="Distance").reset_index().loc[0,].to_frame().transpose())

In [25]:
getCoordFromUserPlace(user_place)

(52.52000659999999, 13.404954)

In [26]:
ENT = getClosestEntry(station_list,52.516168977658175, 13.328140934358284)

In [27]:

print(ENT)

  S_ID      Location     Lat     Lng Distance
0  430  Berlin-Tegel  52.564  13.309  5.59607

In [28]:
def getClosestWeather(user_place,user_date):
    user_lat, user_lng = getCoordFromUserPlace(user_place)
    user_station_list = getClosebySid(user_lat, user_lng)
    entry = getClosestEntry(user_station_list,user_lat, user_lng)
    s_id = int(entry["S_ID"]) # s_id is now all we have to search for
    #FILL THIS PART!
    #print(s_id)
    weather_df = getWeather(s_id, user_date)
    return(weather_df)

In [29]:
getClosestWeather(user_place,user_date)

,Stations_ID,Datum,Temperature,Humidity,Mittel_Windstaerke,Sonnenscheindauer,Niederschlagshoehe
0,433,2020-04-21,11.0,48.04,5.8,13.1,0.0

In [30]:
getStationName(433)

  S_ID          Standort
0  433  Berlin-Tempelhof

In [31]:
#manually double check that we got the same weather as the function getCLosestWeather returned
getWeather("433","2020-04-21")

,Stations_ID,Datum,Temperature,Humidity,Mittel_Windstaerke,Sonnenscheindauer,Niederschlagshoehe
0,433,2020-04-21,11.0,48.04,5.8,13.1,0.0

In [32]:
"""
still to do:

take the weather output from the row and write
if conditions for the values in the row,
like 3 conditions for humidity saying
if humid <= 30% then print: "not raining"
else if 30 < humid <= 60% then print "raining"
else if 60 < humid <= 100% then print "heavy rain"

add these if conditions to the sentence which says:
print("The weather in {user_place} at {user_date} is {if-condition-rain-status}")




"""

'\nstill to do:\n\ntake the weather output from the row and write\nif conditions for the values in the row,\nlike 3 conditions for humidity saying\nif humid <= 30% then print: "not raining"\nelse if 30 < humid <= 60% then print "raining"\nelse if 60 < humid <= 100% then print "heavy rain"\n\nadd these if conditions to the sentence which says:\nprint("The weather in {user_place} at {user_date} is {if-condition-rain-status}")\n\n\n\n\n'

In [33]:
exactStationName = str(getStationName(getClosestWeather(user_place,user_date).iloc[0]['Stations_ID']).iloc[0]['Standort'])

In [34]:
print(exactStationName)

Berlin-Tempelhof

In [40]:
def giveMeaningfulMessage(ClosestWeatherDF, theStationName):
    
    temp = ClosestWeatherDF.iloc[0]['Temperature']
    rain = float(ClosestWeatherDF.iloc[0]['Niederschlagshoehe'])
    light = ClosestWeatherDF.iloc[0]['Sonnenscheindauer']
    wind = float(ClosestWeatherDF.iloc[0]['Mittel_Windstaerke'])
    

    
    #3 states to describe each parameter ex: dry, light rain, heavy rain or cold, warm, hot or no wind, slight wind, windy
    
    #rain check
    if rain <= 0.5:
        rainMSG = "no"
    elif 0.5 < rain <= 1:
        rainMSG = "slight"
    else:
        rainMSG = "heavy"
        
    #wind check
    if wind <= 2:
        windMSG = "no"
    elif 2 < wind <= 10:
        windMSG = "slight"
    else:
        windMSG = "strong"
        
    return("At {0} on {1} it was {2} deg warm with {3} winds and {4} rain.".format(theStationName, user_date, temp, windMSG, rainMSG))

In [41]:
giveMeaningfulMessage(getClosestWeather(user_place,user_date), exactStationName)

'At Berlin-Tempelhof on 2020-04-21 it was 11.0 deg warm with slight winds and no rain.'